Source: ubiquity-slideshow-neon
Section: x11
Priority: optional
Maintainer: Jonathan Riddell <jr@jriddell.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://packaging.neon.kde.org/cgit/neon/ubiquity-slideshow.git/
Vcs-Browser: http://packaging.neon.kde.org/cgit/neon/ubiquity-slideshow.git/
Vcs-Git: git://packaging.neon.kde.org/neon/ubiquity-slideshow

Package: ubiquity-slideshow-neon
Architecture: all
Provides: ubiquity-slideshow
Conflicts: ubiquity-slideshow, ubiquity-slideshow-kubuntu
Replaces: ubiquity-slideshow, ubiquity-slideshow-kubuntu
Depends: ${misc:Depends}
Description: Ubiquity slideshow for KDE neon
 A slideshow intended for the Ubiquity installer.
